@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #292F3D;
  --foreground: #F3F7FA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292F3D;
    --foreground: #F3F7FA;
  }
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}
